@import 'bootstrap';
@import 'sticky';

.container h3:first-child {
  margin-top: 0
}

.table-mixins {
  .line {
    width: 1px;
    white-space: nowrap;
  }
  .file > a {
    color: black;
    .mixin-name {
      color: $brand-primary;
    }
    .variable-name {
      color: $brand-success;
    }
    .default-value {
      color: $brand-warning;
    }
  }
}

#footer p {
  margin: 20px 0;
}
